/* General */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* { /*effects everything*/
    padding: 0;
    margin: 0;
}

body { /*effects entire body*/
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth; /* so navigating to specific section will scroll to that section and not be abrupt */
}

p {
    color: rgb(85,85,85);
}

/* Transition */

a, .btn {
    transition: all 300ms ease;
}

/* Desktop Nav */

nav, .nav-links {
    display: flex; /* The default behavior of a flex container with display: flex; is to align its children in a row */
} /* The <nav> element arranges its children (<div class="logo"> and the <div> containing the <ul>) horizontally.
Within the second <div>, the unordered list (<ul>) with the class nav-links arranges its list items (<li>) horizontally. */

nav {
    justify-content: space-around; /* flex items are evenly distributed along line */
    align-items: center;
    height: 17vh; /* nav will take 17% of screen */
}

.nav-links {
    gap: 2rem; /* gap between each list item is 2rem */
    list-style: none; /* to prevent bullet points */
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none; /* removed underline */
    text-decoration-color: white;
}

a:hover { /* what should happen upon mouse hover */
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem; /* keep 1rem distance between text and underline */
    text-decoration-color: rgb(181,181,181);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default; /* to prevent cursor from becoming 'I' icon when hover the logo */
}


